
/docs/phase-1/step-by-step.md
/docs/phase-2/step-by-step.md
/docs/phase-3/step-by-step.md
/docs/phase-4/step-by-step.md   
/docs/phase-4/step-by-step.md 
/docs/phase-5/step-by-step.md
/docs/phase-6/step-by-step.md
/docs/phase-7/step-by-step.md